.message {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  height: 100%;

  &-date {
    // position: absolute;
    // left: 50%;
    // top: -20px;
    // padding: 10px;
    // border-radius: 20px;
    // background-color: $slack-grey-dark;
    // border: 1px solid $slack-grey;

    & p {
      display: flex;
      align-items: center;
      text-align: center;
    }
  }

  &-content {
    padding: 10px 20px;
    display: flex;
    align-items: center;

    & img {
      width: 36px;
      height: 36px;
      border-radius: 5%;
    }

    &-info {
      padding: 10px;

      &-time {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
