.sidebarOption {
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;

  & svg {
    margin: 10px;
    font-size: 1rem;
    color: $white;
  }

  &-channel {
    padding: 10px 0;
    font-weight: 300;

    &-hash {
      margin: 10px;
      font-size: 0.9375rem;
      color: $white;
      font-weight: 600;
    }
  }

  &:hover {
    background-color: $slack-color-hover;
  }

  &:active {
    background-color: $slack-color-light;
  }
}
