.sidebar {
  flex: 0.3;
  background-color: $slack-grey-dark;
  border-top: 1px solid $slack-grey;
  border-right: 1px solid $slack-grey;
  max-width: 260px;
  height: 100%;
  overflow-y: scroll !important;

  &-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $slack-grey;
    padding: 20px;
    min-height: 75px;

    // Edit Icon
    & .editIcon {
      padding: 5px;
      color: $slack-color-light;
      font-size: 1.5rem;
      background-color: $white;
      border-radius: 50%;
    }

    &-info {
      flex: 1;

      & h3 {
        display: flex;
        align-items: center;

        // Status Icon
        & .statusIcon {
          margin: 0 5px;
          font-size: 0.8125rem;
          color: $green-login;
        }
      }
    }
  }

  & hr {
    margin: 10px 0;
    border: 1px solid $slack-grey;
  }
}
