// Purples
$slack-color: #4a164b;
$slack-color-light: #6e446d;
$slack-color-hover: #3a2c3b;
// Greys
$slack-grey: #303336;
$slack-grey-dark: #1b1d21;
$slack-grey-light: #d1d2d3;
$slack-grey-hover: #232529;
// Other
$green: #058802;
$white: #fbfaf6;
