@import '../../App.scss';

.sidebar {
  background-color: $slack-color;
  border-top: 1px solid $slack-color-lighter;
  max-width: 260px;
  color: $white;

  &-header {
    display: flex;
    border-bottom: 1px solid $slack-color-lighter;
    padding: 13px 13px 10px 13px;

    // Edit Icon
    & .editIcon {
      padding: 5px;
      color: $slack-color-lighter;
      font-size: 1.5rem;
      background-color: $white;
      border-radius: 50%;
    }

    &-info {
      flex: 1;

      & h2 {
        font-size: 1rem;
        font-weight: 900;
        margin-bottom: 5px;
      }

      & h3 {
        display: flex;
        align-items: center;
        font-size: 0.8125rem;

        // Status Icon
        & .statusIcon {
          margin: 0 5px;
          font-size: 0.8125rem;
          color: $green;
        }
      }
    }
  }

  & hr {
    margin: 10px 0;
    border: 1px solid $slack-color-lighter;
  }
}
