// Colours
$slack-color: #3f0f40;
$slack-color-light: #421f44;
$slack-color-lighter: #49274b;
$slack-color-dark: #340e36;
$white: #ffffff;
$grey: #808080;
$green: #058802;

.app-body {
  display: flex;
}
